.font-size{
    font-size: 50px;
    color: #FF9600;
}
#logo-color{
    color: #FF9600;
}
.position{
    position: relative;
}
/* .main-border
    ha
    border: 1px 0 0 0 solid #ccc; */
#warningId{
    color: red;
    position: absolute;
    margin-top: 45px;
    font-size: 15px;
}
#spinner{
    display: none;
}
.footerText{
    padding: 20px 0;
    margin-bottom: 0;
}